




html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #ededed;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A4A4A4;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {

}

header.wrapper {
  background: #ededed;
  padding: 0;
}


/* ===== Gedankenwerk IMW Reponsive =========================================
   Author: Marcel Fahle
   ========================================================================== */

.span2 {
  width: 100%;
  float: left;
  p {
    margin-bottom: 2.5em;
    
  }
}
.span2:first-of-type {
  padding-right: 3%;
}
.span3 {
  h2, h3 {
    font-family: 'Arial';
    font-weight: bold;

  }
  h2 {
    color: #4B4B4B;
    /*font-size: 1.625em;*/
    font-size: 160%;
  }
  ul {
    padding-left: 0;
    /*list-style-image: url("../img/dot.png");*/
    list-style: none;

    li {
      color: #797979;
      background: transparent url('../img/dot-blue.png') left .6em no-repeat;
      padding: 0 0 0 1em;
      margin-bottom: 1em;
      font-size: 19px;
      color: #383838;
      font-family: 'Arial';
    }
  }
}

.vector {
  background: #ededed;
  /*width: 17.25em;*/
  width: 100%;
  margin-bottom: 1.725em;

}
.bordered {
  border-color:rgb(164,164,164);
  border-width:2px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border-style:solid;
}
.lt-ie9 .bordered {
  height: 204px;
  text-align: center;
  line-height: 204px;
}

.logo {
  position: relative;
  z-index: 10;
  font-size: 1em;
  line-height: 0;
  margin: 0;
  margin-bottom: 23px;
  margin-top: 20px !important;
  background-position: left top;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

.lt-ie10 .logo, .ie10 .logo {
  background: white url('../img/logo2-lores.png') no-repeat;

}
$logoclaimwidth: 188px;
$logoclaimheight: 15px;
.logoclaim {
  font-size: 1em;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 42px;
  background-position: left top;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}
.lt-ie10 .logoclaim, .ie10 .logogclaim {
  background: white url('../img/logo2-claim-lores.png') no-repeat;
  width: 188px;
  height: 15px;
}
.logo {
  width: 100px;
  height: 50px;
  background: transparent url('../img/logo2-lores.png') no-repeat;
  -webkit-background-size: 100px 50px;
  -o-background-size: 100px 50px;
  -moz-background-size: 100px 50px;
  background-size: 100px 50px;
  }
  .logoclaim {
  width: 188px;
  height: 15px;
  background: white url('../img/logo2-claim-lores.png') no-repeat;
  -webkit-background-size: 188px 15px;
  -o-background-size: 188px 15px;
  -moz-background-size: 188px 15px;
  background-size: 188px 15px;
}
.header-container {
  width: 100%;
  top: 0;
  z-index: 500;
  height: 135px;
  background: #ededed;
  position: fixed;
  left: 50%;
  margin-left: -482px;
}
header {
  position: relative;
  background: #ededed;
  /*padding-top: 20px;*/
  h1 {
    margin: 0;
    margin-bottom: 1.4em;
    font-size: 1.65em;
    color: #e20074;
    font-weight: normal;
  }
  p {
    margin-top: 0;
    font-size: 1.125em;
    color: #4b4b4b;
  }
  .intro {
    color: #4b4b4b;

  }
}
.nowrap {
  white-space:nowrap;
}

section {
  p {
    color: #797979;
  }
}
a:link, a:visited {
  color: #009FDE;
  text-decoration: none;
}
a:hover, a:active {
  color: #009FDE;
  text-decoration: underline;

}
hr {
  margin-top: 3.123em;  
  margin-bottom: 0;
}
.main-container {
  margin-top: 6.9375em;
}
.footer-container {
  background: #fff;
  padding-bottom: .4em;
  padding: 22px;
  width: 920px;
  h1 {
    
  }
}



.main-nav {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  width: 100%;
  display: block;
  li {
    a {
      font-family: 'Arial';
    }
  }
}

.boxed {
}
.fixed {
  margin-bottom: -500px; 
  padding-bottom: 500px; 
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}
.fixed-height-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25em;


}
.fillerbox {
  height: 100%;
  padding: 1.1875em;
  padding-left: 1.125em;
  padding-right: 0;
  margin-bottom: 10px;
  font-family: 'Arial';
  font-size: 19px;
  border: 1px solid #fff;
  background: #ededed;
  h4 {
    margin: 0;
    font-size: 1.125em;
    font-family: 'Arial';
    font-weight: bold;
    color: #4B4B4B;
  }
  ul {
    margin-top: .7em;
    font-size: 1em;
    color: #383838;

    li {
      margin-bottom: .5em;
    }
  }
  
}
.dark, .medium, .light {
  padding: 1.125em;
  padding-bottom: 0;
  margin-bottom: 12px;
  font-family: 'Arial';
  font-size: 19px;
  border: 1px solid #fff;

  h3 {
    font-size: 1.375em;
    font-family: 'Arial';
    font-weight: bold;
    margin: 0;
  }
  h4 {
    margin-top: 1.7em;
    margin-bottom: .1em;
    font-size: 1.125em;
    font-family: 'Arial';
    font-weight: bold;
  }
  ul {
    /*line-height: 2em;*/
    margin-top: .7em;
    li {
      margin-bottom: .6em;
      line-height: 1.5em;
    }
  }
  p {
    font-size: 0.875em;
    line-height: 1.45em;
  }
}
.dark {
  background: #64b9e4;
  color: #fff;
  h3, h4, p, ul li {
    color: #fff;
  }
  ul {
    li {
      background: transparent url('../img/dot-white.png') left .6em no-repeat;

    }
  }

}
.medium {
  background: #99d1ed;
  color: #383838;

}
.light {
  background: #cce8f6;
  color: #383838;
}


.dark {
  height: 330px;
}
.dark + .fillerbox {
  height: 107px;
}
.medium {
  height: 310px;
}
.medium + .fillerbox {
  height: 127px;
}
.light {
  height: 250px;
}
.light + .fillerbox {
  height: 187px;
}



.span3 {
  hr {
    margin-top: .8em;
  }
}

.mini-nav-wrapper {
  margin: 0 auto;
  text-align: left;
  p {
    font-size: 0.8em;
    float: left;
    margin: 0;
    padding: 0;
  }   
  .mini-nav {
    float: right;
  }
}















article {
  background: #fff;
  header {
    position: relative;
    h1 {
      display: none;
      position: absolute;
      color: #fff;
      font-family: 'Arial';
      font-weight: bold;
      text-transform: uppercase;
      background: transparent url('../img/headline-bg-multiline.png') right top no-repeat;
      span { 
        display: block;
        font-family: 'Arial';
      }
    }
  }
  section {
    p {
      font-size: 17px;
      color: #383838;
      font-family: 'Arial';
      padding-right: 20px;
      line-height: 25px;
    }
  }
  section.intro_copy {
    p {
      font-family: 'Arial';
      font-weight: bold;
      font-size: 19px; 
      margin-bottom: 28px;
    }
  }
}
.imprint, .privacypolicy, .legaldisclaimer {
  header {
    background: transparent;
    h4 {
      display: block;
      background: white;
      color: #e20074;
      font-size: 32px;
    }
  }

}

.subcontent h1 {
  font-size: 1.625em;
  margin-bottom: 1.4em;
}
.subcontent h3 {
  margin-top: 0;
  font-size: 1.125em;
}
.subcontent p + h3 {
  margin-top: 2em;
  color: #4b4b4b;
}
.subcontent p {
  font-size: 1em;
}

.imprint, .legaldisclaimer {
  margin: 0 auto;
}
.legaldisclaimer {
  margin-bottom: 20px;
}
.imprint-left, .imprint-right {
  line-height: 1.3em;
  h3 {
    color: #4b4b4b;
  }
}
.subcontent {
  display: none;
}




.header-container {
  width: 964px;
}
.header-container, .footer-container {
  width: 964px;
}
.maincontent, .main-container {
  margin: 0 auto;
  margin-top: 150px;
}
.footer-container { 
  margin: 0 auto;

}
.imprint, .legaldisclaimer, .privacypolicy {
  margin: 0 auto;
  margin-top: 150px;

}
header.wrapper {
  width: 964px;
}
.wrapper {
  width: 964px;
}
.header-container {
}
.mini-nav-wrapper {
  display: none;
}
.logoclaim {
  right: 1.5em;
}
nav {
  display: block;
}
.main-nav {
  display:table;
  li {
    display: table-cell;

    a {
      padding-left: 20px;
      padding-right: 20px;
      height: 39px;
      line-height: 39px;
      font-size: 16px;
    }
  }
  .filler {
    width: 28%;
  }
}
.lt-ie8 .main-nav li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.main-container {
  margin-top: 30px;
}
.section-divider {
  display: block;
  margin-top: 2.2em;
}
article p {
  margin-bottom: 1.5em;
}
article {
  padding: 22px;
  margin-bottom: 50px;
  header {
    position: relative;
    margin-bottom: 25px;
    h1 {
      position: absolute;
      left: 15px;
      bottom: 15px;
      margin-bottom: 0;
      font-size: 31px;
      line-height: 34px;
      padding-top: 46px;
      padding-right: 52px;
      padding-left: 15px;
      padding-bottom: 7px;
      background: transparent url('../img/headline-bg-multiline.png') right top no-repeat;
    }
  }
  section {
    p {
      font-size: 17px;
      color: #383838;
      font-family: 'Arial';
      padding-right: 20px;
      line-height: 22px;
    }
  }
  section.intro_copy {
    p {
      font-family: 'Arial';
      font-weight: bold;
      font-size: 18px; 
      line-height: 24px;
      margin-bottom: 18px;
    }
  }
}
section p {
  margin-top: 0em;
  font-size: 1.125em;
}
.subcontent section p {
  font-size: 1em;
  color: #383838;
}
section.span2 p {
  font-size: 1em;
}
.segments {
}
header h1 {
  margin-bottom: 1.2em;
}
.span2 {
  width: 46.95652173913044%;
}
.imgspan3 {
  float: left;
  max-width: 31%;
  margin-right: 3.4%;
  img {
    max-width: 100%;
    height: auto;
  }
}
.imgspan3:last-child {
  margin-right: 0;
}
.span3 {
  float: left;
  width: 17.5em;
  margin-right: 2.35em;
  h2, h3 {
    font-weight: bold;
    cursor: auto;
    background: none;
    padding-left: 0;
  }
  h2 {
    margin-top: 0.5em;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }
  h2.open, h3.open {
    background: none;
  }
  .dark {
    h3, h3.open {
      background: none;
    }
  }
  h3 {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
  }
  h4 {
    font-size: 20px;
    line-height: 22px;

  }
  .spanwrapper {
    display: block !important;
  }
  hr {
    display: none;
  }
  p {
    font-size: 14px;
  }
  ul li {
    margin-bottom: .5;
    font-size: 14px;
  }
}
.span3:last-of-type {
  margin-right:0 ;
}
.lt-ie9 .span3 {
  margin-right: 1.5em;
}
.fixed-height-wrapper {
  margin-top: 2.7em;
} 
.vector {
  margin-left: 0;
  width: 100%;
}
.fillerbox {
  display: block;
  padding: 22px 0 22px 22px;
}
.contact {

  float: left;
  width: 26.25em;
  border-right: 1px solid #A4A4A4;
  padding-right: 1.5625em;
}
.countryinfo {
  float: left;
  max-width: 442px;
  margin-left: 34px;
}
.copyright {
  float: right;
  width: 440px;
  margin-right: 40px;
}
.otherlinks {
  float: left;
  width: 400px;
}
.mobile-only, .mobile-block, .desktop-block {
  display: none;
} 
.footer-container {
  padding: 0;
}
footer {
  font-family: 'Arial';
  color: #383838;
  padding: 20px;
  h1 {
    margin: 0;
    margin-bottom: 27px;
    color: #e20074;
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 28px;
    text-transform: uppercase;
  }
  h3 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1.375em;
    color: #e20074;
    margin-bottom: 2.1em;
    margin-top: 0.5em;
  }
  p {
    margin: 1em 0;
    font-size: 17px;
    line-height: 20px;
  }
  strong {
    font-family: 'Arial';
    font-weight: bold;
  }
  .footerlinks {
    margin-top: 2em;
    p {
      font-size: 13px !important;
    }
  }
  .map-wrapper {
    width: 27.625em;
    img {
      width: 100%;
      max-width: 442px;
      height: auto;
    }
  }
  .contact {
   .top {
      margin-top: 0;
      padding-bottom: 10px;
      clear: none;
    }
    img {
      float: left;
      padding: 0 1.375em 1.375em 0;
    }
  }
  .countryinfo {
    p {
      margin-top: 0;
    }
    select {
      margin-bottom: 3.0625em;
      width: 80%;
    }
  }
}
.footerlinks {
  line-height: 1em;

  span {
    display: inline;
  }
  .copyrightline {
    margin-top: 0em; 
  }
}
.map-wrapper {
  width: 27.625em;
}
.imprint-left {
  float: left;
  width: 46.95652173913044%;
}
.imprint-right {
  float: right;
  width: 46.95652173913044%;

}
.contact img {
  float: left;
}
























/* ===============
  Nav elements
  -=============== */

$navcorner: 0px;
.main-nav {
  position: relative;
  z-index: 100;
  background-image:-moz-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,color-stop(0, rgb(255,255,255)),color-stop(0.1, rgb(255,255,255)),color-stop(0.93, rgb(231,231,231)),color-stop(0.98, rgb(215,215,215)),color-stop(1, rgb(215,215,215)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  -pie-background:linear-gradient(to bottom, #fff, #eee);
  background:linear-gradient(to bottom, #fff, #eee);
  background-image:linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  border-color:rgb(208,208,208);
  border-width:1px;
  border-style:solid;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd7d7d7)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#59000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#d7d7d7)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#59000000,Positive=true);

  behavior: url('PIE.htc');
}
.main-nav li:first-child a {
  position: relative;
  behavior: url('PIE.htc');
}
.main-nav li {
  font-size: 12px !important;
  color: #4b4b4b;
  border-right: 1px solid #c0c0c0;
}
.main-nav li.filler {
  border-right: none;
}
.main-nav li a {
  position: relative;
  z-index: 130;

  display: block;
  text-align:center;
  height: 2.4em;
  line-height: 36px;
  color: #4B4B4B;
  padding: 0 5px 0 5px;
  text-decoration: none;
}
.main-nav li a:link, .main-nav li a:visited {

}

.main-nav li a:hover { 
}
.main-nav li a:active, .home-state #link1 a, .selected-segments-state #link2 a, .business-models-state #link3 a, .contact-state #link4 a {
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    /*border: 0;*/
    overflow: hidden;
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
  a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
