/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A4A4A4;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Arial;
}

.wrapper {
  margin: 0 auto;
}


/* ===== Gedankenwerk IMW Reponsive =========================================
   Author: Marcel Fahle
   ========================================================================== */

.span2 {
  width: 100%;
  float: left;
  p {
    margin-bottom: 2.5em;
    
  }
}
.span2:first-of-type {
  padding-right: 3%;
}
.span3 {
  img {
    max-width: 100%;
  }
  h2 {
    color: #4B4B4B;
    /*font-size: 1.625em;*/
    font-size: 160%;
    font-weight: normal;
  }
  ul {
    padding-left: 0;
    /*list-style-image: url("../img/dot.png");*/
    list-style: none;

    li {
      color: #797979;
      background: transparent url('../img/dot.png') left .6em no-repeat;
      padding: 0 0 0 1em;
      margin-bottom: 1em;
    }
  }
}

.vector {

  /*width: 17.25em;*/
  width: 100%;
  margin-bottom: 1.725em;

}
.bordered {
  border-color:rgb(164,164,164);
  border-width:2px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border-style:solid;
}
.lt-ie9 .bordered {
  height: 204px;
  text-align: center;
  line-height: 204px;
}

.logo {
  position: relative;
  z-index: 10;
  font-size: 1em;
  line-height: 0;
  margin: 0;
  height: 4.8125em;
  background-position: left top;
  -webkit-background-size: 57.5em 4.8125em;
  -o-background-size: 57.5em 4.8125em;
  -moz-background-size: 57.5em 4.8125em;
  background-size: 57.5em 4.8125em;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

  background: white url('../img/logo.svg') no-repeat;
}
.lt-ie10 .logo, .ie10 .logo {
  background: white url('../img/logo.png') no-repeat;

}
$logoclaimwidth: 7.3510625em;
$logoclaimheight: 0.96475em;
.logoclaim {
  font-size: 1em;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: $logoclaimwidth;
  height: $logoclaimheight;
  position: absolute;
  z-index: 100;
  right: 1.5625em;
  top: 0.9375em;
  background-position: left top;
  -webkit-background-size: $logoclaimwidth $logoclaimheight;
  -o-background-size: $logoclaimwidth $logoclaimheight;
  -moz-background-size: $logoclaimwidth $logoclaimheight;
  background-size: $logoclaimwidth $logoclaimheight;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

  background: white url('../img/logo-claim.svg') no-repeat;
}
.lt-ie10 .logoclaim, .ie10 .logogclaim {
  background: white url('../img/logo-claim.png') no-repeat;
  width: 117px;
  height: 19px;
}
.header-container {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 500;
}
header {
  background: #fff;
  position: relative;
  margin-top: 3.1em;
  h1 {
    margin: 0;
    margin-bottom: 1.4em;
    font-size: 1.65em;
    color: #e20074;
    font-weight: normal;
  }
  p {
    margin-top: 0;
    font-size: 1.125em;
    color: #4b4b4b;
  }
  .intro {
    color: #4b4b4b;

  }
}
footer {

  h1 {
    margin: 0;
    margin-bottom: 1.4em;
    font-size: 1.65em;
    color: #e20074;
    font-weight: normal;
  }
}
section {
  p {
    color: #797979;
  }
}
a:link, a:visited {
  color: #009FDE;
  text-decoration: none;
}
a:hover, a:active {
  color: #009FDE;
  text-decoration: underline;

}
hr {
  margin-top: 3.123em;  
  margin-bottom: 0;
}
.main-container {
  margin-top: 6.9375em;
}
.footer-container {
  background: #EDEDED;
  padding-bottom: .4em;
}
footer {
  margin-top: 1.25em;
  padding-top: 2.125em;
  h3 {
    font-size: 1.375em;
    color: #e20074;
    margin-bottom: 2.4em;
  }
}
.footerlinks {
  margin-top: 2em;
  font-size: 0.625em;
}
.map-wrapper {
  width: 27.625em;
  img {
    width: 100%;
    max-width: 442px;
    height: auto;
  }
}

.main-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.boxed {
}
.fixed {
  margin-bottom: -500px; 
  padding-bottom: 500px; 
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}
.fixed-height-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25em;


}
.fillerbox {
  height: 100%;
  padding: 1.1875em;
  padding-left: 1.125em;
  padding-right: 0;
  h4 {
    margin: 0;
    font-size: 1.125em;
    font-weight: bold;
    color: #4B4B4B;
  }
  ul {
    margin-top: .7em;
    font-size: 1em;
    color: #797979;

    li {
      margin-bottom: .5em;
    }
  }
  
}
.dark, .medium, .light {
  border-color:#fff;
  border-width:1px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border-style:solid;
  padding: 1.125em;
  padding-bottom: 0;
  margin-bottom: 12px;
  behavior: url('js/PIE.htc');

  h3 {
    font-size: 1.375em;
    font-weight: bold;
    margin: 0;
  }
  h4 {
    margin-top: 1.7em;
    margin-bottom: .1em;
    font-size: 1.125em;
  }
  ul {
    /*line-height: 2em;*/
    margin-top: .7em;
    li {
      margin-bottom: .6em;
      line-height: 1.5em;
    }
  }
  p {
    font-size: 0.875em;
    line-height: 1.45em;
  }
}
.dark {
  background: #4b4b4b;
  color: #fff;
  h3, h4, p, ul li {
    color: #fff;
  }

}
.medium {
  background: #D0D0D0;
  color: #4B4B4B;

}
.light {
  background: #EDEDED;
  color: #4b4b4b;

}

.span3 {
  hr {
    margin-top: .8em;
  }
}

.mini-nav-wrapper {
  margin: 0 auto;
  text-align: left;
  p {
    font-size: 0.8em;
    float: left;
    margin: 0;
    padding: 0;
  }   
  .mini-nav {
    float: right;
  }
}
.contact {

  p {
    line-height: 1.5em;
    font-size: 1.125em;
    color:rgb(75,75,75);
  }
  .top {
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 0;
  }
  img {
    float: left;
    padding: 0 1.375em 1.375em 0;
  }
}
.countryinfo {
  p {
    margin-top: 0;
    color: rgb(75,75,75);
    font-size: 1.125em;
  }
  select {
    margin-bottom: 3.0625em;
    width: 80%;
  }
}


@media all and (min-width: 1em) {
  .mini-nav-wrapper {
    width: 18.75em;
  }
  .mini-nav {
    margin: 0 auto;
    width: 13.75em;
    text-align: left;
  }
  .header-container {
    position: absolute;
  }
  .logoclaim {
    right: 1em;
  }
  article p {
    margin-bottom: 2.5em;
  }
  section p {
    margin-top: 0em;
  }
  .mobile-only {
    display: block;
    margin-top: 0;
  }
  nav {
    display: none;
  }
  .main-container {
    margin-top: 7em;
  }
  .main-nav li {
    display: table-cell;
    overflow: hidden;
  }
  .section-divider {
    display: none;
  }
  .wrapper {
    width: 18.75em;
  }
  .spanwrapper {
    display: none;
  }
  .fillerbox {
    display: none;
  }
  section h2 {
  }
  .imgspan3 {
    float: left;
    max-width: 31%;
    margin-right: 3.4%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .imgspan3:last-child {
    margin-right: 0;
  }
  .span3 {
  
    h2 {
      font-size: 1.375em;
      font-weight: normal;
    }
    h2, h3 {
      cursor: pointer;
      padding-left: 20px;
      background: transparent url('../img/opener.png') no-repeat 0 5px;
    }
    h2.open, h3.open {
      background: transparent url('../img/opener-open.png') no-repeat 0 5px;
    }
    ul li {
      margin-bottom: .8em;
    }
  }
  .vector {
    margin-left: 1em;
    width: 14.2em;

  }
  .contact, .countryinfo, .copyright, .otherlinks {
    float: none;
    width: 100%;
  }
  .footer-container {
    background: #EDEDED;
    padding-bottom: .4em;
  }
  footer {
    margin-top: 1.25em;
    padding-top: 2.125em;
    h3 {
      font-size: 1.375em;
      color: #e20074;
      margin-bottom: 2em;
    }
  }
  .footerlinks {
    line-height: 1em;

    span {
      display: block;
    }
    .copyrightline {
      margin-top: 1.5em; 
    }
  }
  .map-wrapper {
    width: 18em;
  }
}
@media all and (min-width: 20em) {
  .mini-nav-wrapper {
    width: 18.75em;
  }
  .mini-nav {
    margin: 0 auto;
    width: 13.75em;
    text-align: left;
  }
  .header-container {
    position: absolute;
  }
  .logoclaim {
    right: 1em;
  }
  article p {
    margin-bottom: 2.5em;
  }
  section p {
    margin-top: 0em;
  }
  .mobile-only {
    display: block;
    margin-top: 0;
  }
  nav {
    display: none;
  }
  .main-container {
    margin-top: 7em;
  }
  .main-nav li {
    display: table-cell;
    overflow: hidden;
  }
  .section-divider {
    display: none;
  }
  .wrapper {
    width: 18.75em;
  }
  .spanwrapper {
    display: none;
  }
  .fillerbox {
    display: none;
  }
  section h2 {
  }
  .imgspan3 {
    float: left;
    max-width: 31%;
    margin-right: 3.4%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .imgspan3:last-child {
    margin-right: 0;
  }
  .span3 {
  
    h2 {
      font-size: 1.375em;
      font-weight: normal;
    }
    h2, h3 {
      cursor: pointer;
      padding-left: 20px;
      background: transparent url('../img/opener.png') no-repeat 0 5px;
    }
    h2.open, h3.open {
      background: transparent url('../img/opener-open.png') no-repeat 0 5px;
    }
    ul li {
      margin-bottom: .8em;
    }
  }
  .vector {
    margin-left: 1em;
    width: 14.2em;

  }
  .contact, .countryinfo, .copyright, .otherlinks {
    float: none;
    width: 100%;
  }
  .footer-container {
    background: #EDEDED;
    padding-bottom: .4em;
  }
  footer {
    margin-top: 1.25em;
    padding-top: 2.125em;
    h3 {
      font-size: 1.375em;
      color: #e20074;
      margin-bottom: 2em;
    }
  }
  .footerlinks {
    line-height: 1em;

    span {
      display: block;
    }
    .copyrightline {
      margin-top: 1.5em; 
    }
  }
  .map-wrapper {
    width: 18em;
  }
}
/*
@media all and (min-width: 30em) {
  .wrapper {
    width: 28em;
  }
}
*/

@media all and (min-width: 32.5em) {
  
  .header-container {
    position: absolute ;
  }
  .mini-nav-wrapper {
    display: none;
  }
  .logoclaim {
    right: 1.5em;
  }
  nav {
    display: block;
  }
  .main-container {
    margin-top: 6.9375em;
  }
  .span2 {
    width: 46.95652173913044%;
  }
  .section-divider {
    display: none;
  }
  .span3 {
    margin-right: 3.4%;
    .spanwrapper {
      display: none;
    }
    h2, h3 {
      font-size: 160%;
      white-space:nowrap;
      cursor: pointer;
      padding-left: 20px;
      background: transparent url('../img/opener.png') no-repeat 0 5px;
    }
    h2.open, h3.open {
      background: transparent url('../img/opener-open.png') no-repeat 0 5px;
    }
  }
  .imgspan3 {
    float: left;
    max-width: 31%;
    margin-right: 3.4%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .imgspan3:last-child {
    margin-right: 0;
  }

  .span3:last-child {
  }
  .wrapper {
    width: 90%;
  }
  .main-nav {
    display: table;
  }
  .main-nav li {
    display: table-cell;
    overflow: hidden;
    a {
      font-size: 88%;
    }
  }
  .vector {
    margin-left: 0;
  }
  
  .filler {
    width: 4%;
  }
  .contact, .countryinfo, .copyright, .otherlinks {
    float: none;
    width: 100%;
  }
  .mobile-only {
    display: none;
  } 
  .footerlinks {
    line-height: 1em;

    span {
      display: block;
    }
    .copyrightline {
      margin-top: 1.5em; 
    }
  }
  .imprint-left {
    float: left;
    width: 46.95652173913044%;
  }
  .imprint-right {
    float: right;
    width: 46.95652173913044%;

  }
  .map-wrapper {
    width: 30em;
  }
}

@media all and (min-width: 57.5em) {
  .header-container {
    position: fixed;
  }
  .mini-nav-wrapper {
    display: none;
  }
  .logoclaim {
    right: 1.5em;
  }
  nav {
    display: block;
  }
  .main-container {
    margin-top: 6.9375em;
  }
  .section-divider {
    display: block;
    margin-top: 2.2em;
  }
  article p {
    margin-bottom: 1.5em;
  }
  section p {
    margin-top: 0em;
    font-size: 1.125em;
  }
  .subcontent section p {
    font-size: 1em;
    color: #797979;
  }
  section.span2 p {
    font-size: 1em;
  }
  .segments {
    margin-bottom: 2em;
  }
  header h1 {
    margin-bottom: 1.2em;
  }
  .span2 {
    width: 46.95652173913044%;
    /*width: 27.5em;*/
  }
  .imgspan3 {
    float: left;
    max-width: 31%;
    margin-right: 3.4%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .imgspan3:last-child {
    margin-right: 0;
  }
  .span3 {
    float: left;
    width: 17.5em;
    margin-right: 2.35em;
    h2, h3 {
      font-weight: normal;
      font-size: 1.625em;
      cursor: auto;
      background: none;
      padding-left: 0;
    }
    h2 {
      margin-top: 0.5em;
    }
    h3 {
      margin-bottom: 0.5em;
    }
    .spanwrapper {
      display: block;
    }
    hr {
      display: none;
    }
    ul li {
      margin-bottom: .5;
    }
  }
  .span3:last-of-type {
    margin-right:0 ;
  }
  .lt-ie9 .span3 {
    margin-right: 1.5em;
  }
  .fixed-height-wrapper {
    margin-top: 2.7em;
  }
  .wrapper {
    width: 57.5em;
  }
  .main-nav {
    display:table;
  }
  .main-nav li {
    display: table-cell;
    a {
      font-size: 100%;
    }
  }
  .filler {
    width: 34%;
  }
  .vector {
    margin-left: 0;
    width: 100%;
  }
  .fillerbox {
    display: block;
  }
  .contact {

    float: left;
    width: 26.25em;
    border-right: 1px solid #A4A4A4;
    padding-right: 1.5625em;
  }
  .countryinfo {
    float: right;
    width: 27.5625em;
  }
  .copyright {
    float: right;
    width: 44em;
  }
  .otherlinks {
    float: left;
    width: 40em;
  }
  .mobile-only {
    display: none;
  } 
  .footer-container {
    background: #EDEDED;
    margin-top: 3em;
    padding-bottom: .4em;
  }
  footer {
    margin-top: 1.25em;
    padding-top: 2.125em;
    h3 {
      font-size: 1.375em;
      color: #e20074;
      margin-bottom: 2.1em;
      margin-top: 0.5em;
    }
    p {
      margin-bottom: 1.4em;
    }
    p.top {
      margin-bottom: 0.7em;
    }
  }
  .footerlinks {
    line-height: 1em;

    span {
      display: inline;
    }
    .copyrightline {
      margin-top: 0em; 
    }
  }
  .map-wrapper {
    width: 27.625em;
  }
  .imprint-left {
    float: left;
    width: 46.95652173913044%;
  }
  .imprint-right {
    float: right;
    width: 46.95652173913044%;

  }
}
.subcontent h1 {
  font-size: 1.625em;
  margin-bottom: 1.4em;
}
.subcontent h3 {
  margin-top: 0;
  font-size: 1.125em;
}
.subcontent p + h3 {
  margin-top: 2em;
  color: #4b4b4b;
}
.subcontent p {
  font-size: 1em;
}

.imprint-left, .imprint-right {
  line-height: 1.3em;
  h3 {
    color: #4b4b4b;
  }
}
.subcontent {
  display: none;
}
/* ===============
  Nav elements
  -=============== */

$navcorner: 0.375em;
.main-nav {
  position: relative;
  -mox-border-radius: $navcorner;
  -webkit-border-radius: $navcorner;
  border-radius: $navcorner;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,color-stop(0, rgb(255,255,255)),color-stop(0.1, rgb(255,255,255)),color-stop(0.93, rgb(231,231,231)),color-stop(0.98, rgb(215,215,215)),color-stop(1, rgb(215,215,215)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  -pie-background:linear-gradient(to bottom, #fff, #7d7d7d);
  background-image:linear-gradient(rgb(255,255,255) 0%,rgb(255,255,255) 10%,rgb(231,231,231) 93%,rgb(215,215,215) 98%,rgb(215,215,215) 100%);
  border-color:rgb(208,208,208);
  border-width:1px;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.35);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.35);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 1px rgba(0,0,0,0.35);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd7d7d7)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#59000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#d7d7d7)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#59000000,Positive=true);

  behavior: url('js/PIE.htc');
}
.main-nav li:first-child a {
  -moz-border-radius-topleft: $navcorner;
  -moz-border-radius-bottomleft: $navcorner;
  -webkit-border-top-left-radius:$navcorner;
  -webkit-border-bottom-left-radius:$navcorner;
  border-top-left-radius: $navcorner;
  border-bottom-left-radius: $navcorner;
  behavior: url('js/PIE.htc');
}
.main-nav li {
  font-size: 0.875em;
  color: #4b4b4b;
  border-right: 1px solid #c0c0c0;
}
.main-nav li.filler {
  border-right: none;
}
.main-nav li a {
  display: block;
  height: 2.4em;
  line-height: 2.5em;
  color: #4B4B4B;
  padding: 0 1.1875px 0 1.1875px;
  text-decoration: none;
}
.main-nav li a:link, .main-nav li a:visited {

}

.main-nav li a:hover { 
  position: relative;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,color-stop(0, rgb(236,236,236)),color-stop(0.1, rgb(236,236,236)),color-stop(0.93, rgb(213,213,213)),color-stop(0.98, rgb(198,198,198)),color-stop(1, rgb(198,198,198)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%);
  background-image:linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%);
  -pie-background:linear-gradient(rgb(236,236,236) 0%,rgb(236,236,236) 10%,rgb(213,213,213) 93%,rgb(198,198,198) 98%,rgb(198,198,198) 100%);
  behavior: url('js/PIE.htc');
}
.main-nav li a:active, .home-state #link1, .selected-segments-state #link2, .business-models-state #link3, .contact-state #link4 {
  position: relative;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%); 
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,color-stop(0, rgb(210,210,210)),color-stop(0.1, rgb(210,210,210)),color-stop(0.93, rgb(192,192,192)),color-stop(0.98, rgb(187,187,187)),color-stop(1, rgb(187,187,187)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%);
  background-image:linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%);
  -pie-background:linear-gradient(rgb(210,210,210) 0%,rgb(210,210,210) 10%,rgb(192,192,192) 93%,rgb(187,187,187) 98%,rgb(187,187,187) 100%);
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.35) ,inset 0px 0px 4px rgba(0,0,0,0.05) ,inset 0px 3px 4px rgba(0,0,0,0.15);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.35) ,inset 0px 0px 4px rgba(0,0,0,0.05) ,inset 0px 3px 4px rgba(0,0,0,0.15);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 1px 1px rgba(0,0,0,0.35) ,inset 0px 0px 4px rgba(0,0,0,0.05) ,inset 0px 3px 4px rgba(0,0,0,0.15);
  behavior: url('js/PIE.htc');
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
  a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
