!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> 
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head


    %meta{ :charset => "utf-8" }/

    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ "http-equiv" => "cache-control", :content => "no-transform" }/


    %title Deutsche Telekom AG - International Mobile Wholesale 
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    %script{src: "js/vendor/modernizr-latest.js" }
    %link{ :href => "css/normalize.min.css", :rel => "stylesheet" }/

    <!--[if !IE]><!-->
    %link{ :href => "css/main.css?v=100", :rel => "stylesheet" }/
    <!--<![endif]-->
    <!--[if gte IE 9]>
    %link{ :href => "css/main.css?v=100", :rel => "stylesheet" }/
    <![endif]-->
    <!--[if lte IE 8]>
    %link{ :href => "css/ie8.css?v=100", :rel => "stylesheet" }/
    <script type="text/javascript" src="js/PIE_IE678.js"></script>
    <![endif]-->



    %meta{name:"DCSext.dtg_group", content:"GHS"}
    %meta{name:"DCSext.dtg_board", content:"V EU"}
    %meta{name:"DCSext.dtg_country", content:"DE"}
    %meta{name:"DCSext.dtg_lang", content:"de"}
    %meta{name:"DCSext.dtg_ozt", content:"181"}

    %script{src: "http://www.telekom.com/css_js/dtg.js"}
    %script{src: "js/dti.js"}


  %body


    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    .header-container
      %header{class: "wrapper clearfix"}
        %h1{class: "logo ir"} &nbsp; 
        %h2{class: "logoclaim ir"} &nbsp;

        %nav
          %ul.main-nav
            %li#link1
              %a{href: "#"} Deutsche Telekom for MVNOs
            %li#link2
              %a{href: "#"} Selected Segments
            %li#link3
              %a{href: "#"} Business Models
            %li#link4
              %a{href: "#"} Contact Us
            %li.filler

      .mini-nav-wrapper
        %select.mini-nav
          %option{value: ""} Please choose ...
          %option{value: "1"} Deutsche Telekom for MVNOs
          %option{value: "2"} Selected Segments
          %option{value: "3"} Business Models
          %option{value: "4"} Contact Us
        %p Navigation:

    .main-container
      .imprint.content.subcontent.wrapper.clearfix
        %article.clearfix
          %header
            %h1 Imprint
          %section.clearfix
            .imprint-left
              %h3 Address:
              %p
                %strong Deutsche Telekom AG
                %br/
                Friedrich Ebert Allee 140
                %br/
                53113 Bonn
                %br/
                %br/
                Local Court Entry Bonn HRB 6794,
                %br/
                %br/
                %strong Company Headquarters:
                %br/
                Bonn, Germany
            .imprint-right
              %h3 Responsible:
              %p
                Ursula Knipp
                %br/
                %br/
                Deutsche Telekom AG
                %br/ 
                P.O. Box 2000
                %br/ 
                53105 Bonn, Germany
          %section.clearfix
            .imprint-left
              %h3 Authorized to represent:
              %p
                Ren&eacute; Obermann
                %br/
                Reinhard Clemens
                %br/
                Niek Jan van Damme
                %br/
                Timotheus H&ouml;ttges
                %br/
                Dr. Thomas Kremer
                %br/
                Claudia Nemat
                %br/
                Prof. Dr. Marion Schick

            .imprint-right
              %h3 Editorial Staff:
              %p
                Hugo M&aacute;rquez
                %br/
                MagyarCom Services Ltd.
                %br/
                K&oacute;rh&aacute;z u. 6-12
                %br/
                1033 Budapest, Hungary



      .legaldisclaimer.content.subcontent.wrapper.clearfix
        %article.clearfix
          %header
            %h1 Disclaimer
          %section.clearfix
            %p
              Deutsche Telekom AG in no way guarantees that the 
              information made available on this website is complete, 
              accurate or up-to-date in all cases. This also applies 
              to any links to other websites. Deutsche Telekom AG shall 
              not be held responsible for the contents of a page accessed 
              via such a link. Deutsche Telekom AG reserves the right to 
              amend, supplement or delete the information supplied without 
              prior notice.
            %p
              The information on this website does not constitute an 
              offer to sell or the solicitation of an offer to buy any 
              securities and should not be relied upon in connection with 
              any investment decision. In no event shall Deutsche Telekom 
              be liable for any damage whatsoever resulting from loss of 
              use options or data loss in connection with the use of documents 
              or information and/or from the performance of services available 
              on this website.
            %p
              With the exception of historical information, the matters 
              discussed in the materials and documents on this website 
              are "forward-looking statements". These forward-looking 
              statements rely on a number of risks, uncertainties or other 
              factors, many of which are outside Deutsche Telekom AG's 
              control, which could cause actual results to differ materially 
              from such statements. These risks, uncertainties and other 
              factors are described in detail in Deutsche Telekom's 
              financial reports which are available on Deutsche Telekom's 
              website. Visitors of this website are cautioned not to put 
              undue reliance on these forward-looking statements. 
              Deutsche Telekom disclaims any intention or obligation to 
              update or revise any forward-looking statements, whether 
              as a result of new information, future events or otherwise.

      .privacypolicy.content.subcontent.wrapper.clearfix
        %article.clearfix
          %header
            %h1 Privacy Policy
          %section
            %p
              Data protection and data security for customers and users have a 
              high priority for the entire Deutsche Telekom Group. We 
              therefore attach great importance to the protection of 
              personal data in all business processes.
            %p
              This privacy statement explains what kind of information is 
              collected at the Deutsche Telekom Group during a visit to 
              one of our Web sites and how we use this information. 
              However, this does not apply to Web sites of companies 
              which do not belong to the Group, even if they have 
              a link to this or any other Web site of a Deutsche 
              Telekom AG company. Should you wish to receive information 
              on the collection and processing of personal data at 
              specific companies of the Deutsche Telekom Group, 
              please contact these companies directly or use our 
              contact form.
            %h3
              Collection and processing of personal data
            %p
              For the purpose of system security, when you visit our Web sites, 
              our Web server temporarily registers the domain name or the 
              IP address of the requesting computer as well as the 
              date of access, the file request of the client (file name 
              and URL), the HTTP response code and the Web site from which 
              you are visiting us, and the number of bytes transferred 
              during the session. We might also, in some cases, store 
              some information in the form of 'cookies' on your PC so 
              that we can optimize our Web site according to your preferences. 
              We will not collect any other personal data such as name, 
              address, telephone number or e-mail address unless you provide 
              this information voluntarily, e.g., when placing an online order 
              for a product or service, a survey, a competition, or a request 
              for information. Personal data collected during a visit to our 
              Web site is processed exclusively in accordance with the legal 
              provisions of the country in which the respective company is 
              headquartered.
            %h3
              Use and forwarding of personal data
            %p
              We will use your personal data exclusively for the technical 
              administration of the Web site and to meet your wishes 
              and requests. Only in cases in which you have given 
              us prior consent do we also use this data for product-related 
              surveys and marketing purposes, but only to the extent 
              needed in each specific case. We will not disclose any 
              data to government agencies except where required by law. 
              Our employees and business offices are obligated to treat 
              the data as confidential.
            %h3
              Customer's decision
            %p
              The companies of Deutsche Telekom AG like to contact customers 
              to provide them with information about special offers and 
              news on products and services. If you register on our Web 
              site or place an order for our products and services, you 
              will be asked to indicate whether you would like to receive 
              advertising information directly. Irrespective of your consent, 
              it goes without saying that, as a Deutsche Telekom customer, 
              you will continue to be notified of any important changes 
              relating to existing service agreements (e.g., rate changes).
            %h3
              Freedom of information
            %p
              Upon written request, the respective company of the 
              Deutsche Telekom Group will inform you of the personal 
              data stored on you (e.g., name, address).
            %h3 
              Security
            %p
              We have taken extensive technical and operational precautions 
              to protect the personal data retained by us against 
              unauthorized access and misuse. Our security procedures 
              are revised regularly and adapted to reflect technological 
              progress.
            %h3
              Contacts
            %p
              Should you wish any data to be corrected or deleted, or have 
              any other questions or suggestions on data protection, 
              please contact us.


      .main.wrapper.clearfix.content.maincontent

        %article.clearfix
          %header
            %h1 
              Deutsche Telekom For
              %span Mobile virtual network operators
            %img{src: "img/title-mobile-virtual-network-operators.jpg", width: 920}
          %section.intro_copy
            %p 
              Deutsche Telekom is one of the world's leading integrated telecommunications companies. We operate mobile networks in 15 European countries as well as the US and offer the only cross-Atlantic mobile telecommunications footprint in the world.

          %section
            %p 
              Our goal is to innovate our industry and provide our customers with the best possible service. Essential to achieving this objective are strong partnerships, of which one of the most important is the enablement of Mobile Virtual Network Operators (MVNOs). We are a pioneer in the Virtual Operator field and host a number of the world's most successful MVNOs on our networks. With our extensive knowledge, we give our partners the support they need to successfully enter the telecommunications space.


        -#%article.clearfix

        -#  %section.span3.imgspan3
        -#    %img{src: "img/content-business.jpg", alt: "Business"}
        -#  %section.span3.imgspan3
        -#    %img{src: "img/content-ethnic.jpg", alt: "Ethnic"}
        -#  %section.span3.imgspan3
        -#    %img{src: "img/content-youth.jpg", alt: "Youth"}

        -#%hr

        %article.clearfix.segments.selected-segments
          %header
            %h1 
              Selected Segments
            %img{src: "img/title-selected-segments.jpg", width: 920}


          %section.intro_copy
            %p 
              By offering mobile services, our partner's products and services become more compelling and existing assets can be monetized. If you are active in one of the following industries, there is significant potential in partnering with us to offer mobile telecommunications services. Beyond these fields there are limitless innovation possibilities with MVNO services!


          .clearfix
            %section.span3
              %h2 Retailers
              .spanwrapper
                .vector
                  %img{src: "img/pic_retailers.png", alt: "Retailers", width: 280}

                %ul
                  %li Increase points of sales footfall
                  %li Improve loyalty of customer base with cross segment/category campaigns
                  %li Exploit revenues from mobile services and devices
              %hr


            %section.span3
              %h2 Ethnic Brands
              .spanwrapper
                .vector
                  %img{src: "img/pic_ethnic_brands.png", alt: "Ethnic Brands", width: 280}
                %ul
                  %li Monetize international calling routes and customer base
                  %li Provide best value mobile service for international calls
                  %li Target ethnic groups with individual mobile services
              %hr


            %section.span3
              %h2 Youth Brands
              .spanwrapper
                .vector
                  %img{src: "img/pic_youth_brands.png", alt: "Youth Brands", width: 280}
                %ul
                  %li Monetize brand awareness and media reach with teenager and young adult segments
                  %li Grow customers' brand interaction time and content consumption
                  %li Stimulate brand loyalty
              %hr


          .clearfix
            %section.span3
              %h2 Social Networks
              .spanwrapper
                .vector
                  %img{src: "img/pic_social_networks.png", alt: "Social Networks", width: 280}
                %ul
                  %li Provide specific propositions for mobile social network use
                  %li Monetize user base by adding social commerce and service extras
                  %li Encourage user loyalty by integrating mobile services into core brand proposition
              %hr

            %section.span3
              %h2 Fixed Operators
              .spanwrapper
                .vector
                  %img{src: "img/pic_fixed_operators.png", alt: "Fixed Operators", width: 280}
                %ul
                  %li Provide full telecommunications portfolio to subscriber base
                  %li Reduce churn by offering multi-play bundles
                  %li Leverage existing network assets to provide integrated services
              %hr

            %section.span3
              %h2 Data
              .spanwrapper
                .vector
                  %img{src: "img/pic_data.png", alt: "Data", width: 280}
                %ul
                  %li Improve product appeal by bundling devices and connectivity
                  %li Offer advanced services (e.g. M2M, maintenance service)
                  %li Add continuous service revenues to one-time device sales revenues
              %hr


        %article.clearfix.business-models
          %header
            %h1 
              Deutsche Telekom For
              %span Mobile virtual network operators
            %img{src: "img/title-mobile-virtual-network-operators-business-models.jpg", width: 920}
          %section.intro_copy
            %p 
              We have experience with a large variety of business models that complement our partners' assets, competencies and investments. Together with our partners, we select the most appropriate commercial and technical set-up for each project.

          %section
            %p 
              Our solution portfolio ranges from brand licensing/branded reselling to national roaming - and includes any model in-between. In the first case, we operationally manage the whole mobile service delivery and rely on our partners' branding and marketing assets. In the latter case, our partners run their own mobile (core) network.

          %section

          .fixed-height-wrapper.clearfix

            %section.span3.fixed
              .boxed.dark
                %h3 
                  Branded Resale/
                  %br/ 
                  Brand Licensing
                %p 
                  For partners where telco is a suitable brand extension,
                  but not a core business.

                .spanwrapper
                  %h4 Our main contribution
                  %ul
                    %li Mobile network services
                    %li Numbering, roaming
                    %li Operations and business support
                    %li Product management

              .boxed.fillerbox
                %h4 Partner's main contribution
                %ul
                  %li Marketing, sales and distribution
                  %li Brand and communication


            %section.span3.fixed
              .boxed.medium
                %h3
                  Light MVNO/
                  %br/ 
                  Service Provider
                %p 
                  For partners with telco experience who need autonomy in marketing 
                  and pricing.

                .spanwrapper
                  %h4 Our main contribution
                  %ul
                    %li Mobile network services
                    %li Numbering, roaming
                    %li Operations and business support
                
              .boxed.fillerbox
                %h4 Partner's main contribution
                %ul
                  %li Operations and business support
                  %li Marketing, sales and distribution
                  %li Brand and communication

            %section.span3.fixed
              .boxed.light
                %h3 
                  Full MVNO/ 
                  %br/ 
                  National Roaming

                %p For partners with significant telco experience and assets.

                .spanwrapper
                  %h4 Our main contribution
                  %ul 
                    %li Mobile (radio) network services
                    %li Enabling services

              .boxed.fillerbox
                %h4 Partner's main contribution
                %ul
                  %li Core network services
                  %li Numbering, roaming
                  %li Operations and business support
                  %li Marketing, sales and distribution
                  %li Brand and communication


    .footer-container.clearfix
      %footer{class: "wrapper clearfix"}
        %h1 Contact Us

        .contact
          %img{src: "img/peter-hoffmann.jpg", alt: "Peter Hoffmann", class: "profile", width: "159", height: "171"}
          %p.top 
            %strong Peter Hoffmann
            %br/ 
            Vice President
            %br/
            International Mobile Wholesale
            %br/ 
            %br/
            Deutsche Telekom AG
            %br/
            53262 Bonn
            %br/
            %br/
            Phone: +49 228 181-18765
            %br/ 
            E-Mail: 
            %a{href: "mailto:mvno@telekom.de"} mvno@telekom.de
          %p
            We offer the only transatlantic mobile communications footprint, 
            covering 15 European countries and the US.
          %p
            If you are interested in becoming an MVNO hosted by one of our 
            mobile operations, please contact us!
          %p
            We are happy to discuss your business idea with you, and look into 
            how we can support you to make it a success.



        .countryinfo.clearfix
          %p Are you looking for more specific information for a specific country?

          %select{onchange: "if (this.value) window.location.href=this.value"}
            %option{value: ""} Choose a destination ...
            %option{value: "http://www.amc.al/"} Albania: AMC 
            %option{value: "http://www.t-mobile.at/"} Austria: T-Mobile Austria 
            %option{value: "http://www.globul.bg/eng/"} Bulgaria: Globul
            %option{value: "http://www.t.ht.hr/eng"} Croatia: T-Hrvatski Telekom 
            %option{value: "http://www.t-mobile.cz/"} Czech Republic: T-Mobile Czech Republic 
            %option{value: "http://www.telekom.de/"} Germany: Telekom Deutschland
            %option{value: "http://www.cosmote.gr/"} Greece: Cosmote 
            %option{value: "http://www.t-mobile.hu/"} Hungary: Magyar Telekom 
            %option{value: "http://www.t-mobile.com.mk/"} Macedonia: Makedonski Telekom
            %option{value: "http://www.telekom.me/"} Montenegro: Crnogorski Telekom
            %option{value: "http://www.t-mobile.nl/"} Netherlands: T-Mobile Netherlands 
            %option{value: "http://www.t-mobile.pl/en/"} Poland: T-Mobile Poland 
            %option{value: "http://www.slovaktelekom.sk/"} Slovakia: Slovak Telekom 
            %option{value: "http://www.cosmote.ro/en/"} Romania: Cosmote Romania 
            %option{value: "http://everythingeverywhere.com/"} United Kingdom: Everything Everywhere
            %option{value: "http://www.t-mobile.com/"} USA: T-Mobile USA 



          .map-wrapper
            %img{src: "img/Map.png", alt: "Map"}

      
        .clearfix
        .footerlinks
          %p.copyright
            %span
              Other Links: 
            %a{href: "http://telekom.de"} Deutsche Telekom
            |
            %a{href: "http://www.telekom-icss.com/"} ICSS
            |
            %a{href: "https://www.multinationals.telekom.com/124358"} MNC
            |
            %a{href: "http://m2m.telekom.com/"} Machine-to-Machine (M2M)
          %p.otherlinks
            %a{href: "#", id: 'link-privacypolicy'} Privacy Policy
            |
            %a{href: "#", id: 'link-legaldisclaimer'} Disclaimer
            |
            %a{href: "#", id: 'link-imprint'} Imprint
            %span.copyrightline
              &copy;Deutsche Telekom, 2013



      %script{src: "js/vendor/jquery-1.9.0.min.js"}


      %script{src: "js/vendor/jquery.smooth-scroll.min.js"}


      %script{src: "js/retina.js"}


      %script{src: "js/main.js"}


      <!-- START OF SmartSource Data Collector TAG -->
      <!-- Deutsche Telekom AG- Version 1.2 -->
      <!-- $DateTime: 2010/09/22 17:00:00 $ --> 
      :javascript
        if (typeof(_ed)!="undefined"){
          _ed.ed_sv = "1.2_" + window.location.hostname; 
          if (typeof(_ed.init_an)=="function"){_ed.init_an();}
        }
      :javascript
        var _tag=new WebTrends(); 
        _tag.dcsGetId();
      :javascript
        _tag.dcsCustom=function(){
          // Add custom parameters here.
          //_tag.DCSext.param_name=param_value;
        }
        _tag.dcsCollect();

      %noscript
        %div
          %img{alt:"DCSIMG", id:"DCSIMG", width:"1", height:"1", src:"https://www.wtpx-telekom.com/dcsxln2virb0sziiu1yfoaoee_6i5i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0"}/

    

